<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container1">
      <div class="footer-container2">
        <h1 class="footer-text textXL"><span>Наши соцсети:</span></h1>
        <span class="footer-text2">
          <span>Можете найти нас здесь.</span>
          <br />
          <span>Кликабельно!</span>
        </span>
        <div class="footer-container3">
          <a href="https://www.instagram.com/eh_minecraft/" class="footer-link">
            <div class="footer-container4">
              <img
                alt="image"
                src="../public/playground_assets/image_2021-11-18_221621-200h.png"
                class="footer-image"
              />
            </div>
          </a>
          <a href="https://vk.com/ehgroupofficial" class="footer-link1">
            <div class="footer-container5">
              <img
                alt="image"
                src="../public/playground_assets/image_2021-11-18_221543-800w.png"
                class="footer-image1"
              />
            </div>
          </a>
          <a href="https://discord.com/invite/nfnSe8Jwd5" class="footer-link2">
            <div class="footer-container6">
              <img
                alt="image"
                src="../public/playground_assets/image_2021-11-18_221456-800h.png"
                class="footer-image2"
              />
            </div>
          </a>
        </div>
      </div>
      <div class="footer-container7"></div>
    </div>
    <div class="footer-container8"></div>
    <span class="footer-text6 textSM">
      EventHorizon 2020-2022. Все права защищены.
    </span>
  </div>
</div>
