<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-header">
    <div class="header-container">
      <div class="header-container1">
        <a
          href="https://puginarug.com"
          target="_blank"
          rel="noreferrer noopener"
          class="header-link"
        >
          <img
            alt="image"
            src="../public/playground_assets/-------1%402x-1500w.png"
            class="header-image"
          />
        </a>
      </div>
    </div>
    <svg viewBox="0 0 1024 1024" class="header-icon">
      <path
        d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
      ></path>
    </svg>
    <div class="header-container2">
      <a href="https://vk.com/ehgroupofficial" class="header-link1">
        <img
          alt="image"
          src="../public/playground_assets/image_2021-11-18_221543-200h.png"
          class="header-image1"
        />
      </a>
      <a href="https://discord.com/invite/nfnSe8Jwd5" class="header-link2">
        <img
          alt="image"
          src="../public/playground_assets/image_2021-11-18_221456-200h.png"
          class="header-image2"
        />
      </a>
      <a href="https://www.instagram.com/eh_minecraft/" class="header-link3">
        <img
          alt="image"
          src="../public/playground_assets/image_2021-11-18_221621-200h.png"
          class="header-image3"
        />
      </a>
    </div>
  </div>
</div>
